#{secure_social_header messages.get('securesocial.changeTitle')/}

<div class="clearfix">
    <p>&{'securesocial.changeLabel'}</p>
#{form @securesocial.PasswordChangeController.doChange(), autocomplete:'off'}
    <fieldset>
        *{#{authenticityToken /}}//NAO PRECISA, pois o proprio #{form} o faz}*

    #{field 'currentPassword'}
        <div class="clearfix #{ifError field.name} error #{/ifError}">
            <label for="currentPassword">&{'securesocial.currentPassword'}</label>

            <div class="input">
                <input id="${field.id}" class="large" name="${field.name}" type="password"
                       value="${flash.currentPassword}"/>
                #{ifError field.name}
                        <span class="help-inline">${field.error}</span>
                    #{/ifError}
                </div>
            </div>
        #{/field}

        #{securesocial_password_entry /}

    </fieldset>
#{/form}
</div>
</div>
