#{secure_social_header messages.get('securesocial.resetTitle')/}

<div class="clearfix">
    <p>&{'securesocial.changeLabel'}</p>
#{form @securesocial.PasswordResetController.doChange(), autocomplete:'off'}
    <fieldset>
    *{#{authenticityToken /}}//NAO PRECISA, pois o proprio #{form} o faz}*


        <input type="hidden" name="username" value="${username}"/>
        <input type="hidden" name="uuid" value="${uuid}"/>

        #{securesocial_password_entry /}

    </fieldset>
#{/form}
</div>
</div>
