#{secure_social_header messages.get('securesocial.signUpTitleCad')/}

<div class="clearfix">
    <p>&{'securesocial.signUpLabel'}</p>
#{form @securesocial.UsernamePasswordController.createAccount(), autocomplete:'off'}

    <fieldset>
        #{field 'userName'}
            <div class="clearfix #{ifError field.name} ? error : '' #{/ifError}">
                <label for="${field.id}">&{'securesocial.userName'}</label>

                <div class="input">
                *{//fixme descomentar e remover linha abaixo}*
                *{<input id="${field.id}" class="large" name="${field.name}" value="${field.value}"/>}*
                    <input id="${field.id}" class="large" name="${field.name}" value=""/>

                    #{ifError field.name}
                        <span class="help-inline">${field.error}</span>
                    #{/ifError}
                </div>
            </div>
        #{/field}

        #{field 'displayName'}
            <div class="clearfix #{ifError field.name} error #{/ifError}">
                <label for="${field.id}">&{'securesocial.name'}</label>

                <div class="input">
                *{//todo descomentar e remover linha abaixo}*
                *{<input id="${field.id}" class="large" name="${field.name}" value="${field.value}"/>}*
                    <input id="${field.id}" class="large" name="${field.name}" value=""/>
                    #{ifError field.name}
                        <span class="help-inline">${field.error}</span>
                    #{/ifError}
                </div>
            </div>
        #{/field}


        #{field 'email'}
            <div class="clearfix #{ifError field.name} error #{/ifError}">
                <label for="${field.id}">&{'securesocial.email'}</label>

                <div class="input">
                *{//fixme descomentar e remover linha abaixo}*
                *{<input id="${field.id}" class="large" name="${field.name}" value="${field.value}"/>}*
                    <input id="${field.id}" class="large" name="${field.name}" value=""/>
                    #{ifError field.name}
                        <span class="help-inline">${field.error}</span>
                        <span class="help-inline">&{'securesocial.emailHelp'}</span>
                    #{/ifError}
                    #{else }
                        <span>&{'securesocial.emailHelp'}</span>
                    #{/else}
                </div>
            </div>
        #{/field}

        #{field 'password'}
            <div class="clearfix #{ifError field.name} error #{/ifError}">
                <label for="${field.id}">&{'securesocial.password'}</label>

                <div class="input">

                *{//fixme descomentar e remover linha abaixo}*
                *{<input id="${field.id}" class="large" name="${field.name}" type="password"/>}*
                    <input id="${field.id}" class="large" name="${field.name}" type="password" value=""/>
                    #{ifError field.name}
                        <span class="help-inline">${field.error}</span>
                    #{/ifError}
                </div>
            </div>
        #{/field}

        #{field 'passwordConfirm'}#{/field}
        <div class="clearfix #{ifError field.name} error #{/ifError}">
            <label for="${field.id}">&{'securesocial.password2'}</label>

            <div class="input">
            *{//fixme descomentar e remover linha abaixo}*
            *{<input id="${field.id}" class="large" name="${field.name}" type="password"/>}*
                <input id="${field.id}" class="large" name="${field.name}" type="password" value=""/>
                #{ifError field.name}
                    <span class="help-inline">${field.error}</span>
                #{/ifError}
            </div>
        </div>

        <div class="actions">
            <input type="submit" value="Create Account" class="btn primary">
            <a href="@{securesocial.SecureSocial.login()}" class="btn">&{'securesocial.cancel'}</input></a>
        </div>
    </fieldset>
#{/form}
</div>
</div>

#{mytags.discardFlash /}




*{#{secure_social_header messages.get('securesocial.signUpTitle')/}}*

*{<div class="clearfix">}*
    *{<p>&{'securesocial.signUpLabel'}</p>}*
*{#{form @securesocial.UsernamePasswordController.createAccount(), autocomplete:'off'}}*

    *{<fieldset>}*
        *{#{field 'userName'}}*
            *{<div class="clearfix #{ifError field.name} ? error : '' #{/ifError}">}*
                *{<label for="${field.id}">&{'securesocial.userName'}</label>}*

                *{<div class="input">}*
                *{//fixme descomentar e remover linha abaixo}*
                *{<input id="${field.id}" class="large" name="${field.name}" value="${field.value}"/>}*
                    *{<input id="${field.id}" class="large" name="${field.name}" value="a"/>}*

                    *{#{ifError field.name}}*
                        *{<span class="help-inline">${field.error}</span>}*
                    *{#{/ifError}}*
                *{</div>}*
            *{</div>}*
        *{#{/field}}*

        *{#{field 'displayName'}}*
            *{<div class="clearfix #{ifError field.name} error #{/ifError}">}*
                *{<label for="${field.id}">&{'securesocial.name'}</label>}*

                *{<div class="input">}*
                *{//todo descomentar e remover linha abaixo}*
                *{<input id="${field.id}" class="large" name="${field.name}" value="${field.value}"/>}*
                    *{<input id="${field.id}" class="large" name="${field.name}" value="a"/>}*
                    *{#{ifError field.name}}*
                        *{<span class="help-inline">${field.error}</span>}*
                    *{#{/ifError}}*
                *{</div>}*
            *{</div>}*
        *{#{/field}}*


        *{#{field 'email'}}*
            *{<div class="clearfix #{ifError field.name} error #{/ifError}">}*
                *{<label for="${field.id}">&{'securesocial.email'}</label>}*

                *{<div class="input">}*
                *{//fixme descomentar e remover linha abaixo}*
                *{<input id="${field.id}" class="large" name="${field.name}" value="${field.value}"/>}*
                    *{<input id="${field.id}" class="large" name="${field.name}" value="ufrn.eduardo@gmail.com"/>}*
                    *{#{ifError field.name}}*
                        *{<span class="help-inline">${field.error}</span>}*
                        *{<span class="help-inline">&{'securesocial.emailHelp'}</span>}*
                    *{#{/ifError}}*
                    *{#{else }}*
                        *{<span>&{'securesocial.emailHelp'}</span>}*
                    *{#{/else}}*
                *{</div>}*
            *{</div>}*
        *{#{/field}}*

        *{#{field 'password'}}*
            *{<div class="clearfix #{ifError field.name} error #{/ifError}">}*
                *{<label for="${field.id}">&{'securesocial.password'}</label>}*

                *{<div class="input">}*

                *{//fixme descomentar e remover linha abaixo}*
                *{<input id="${field.id}" class="large" name="${field.name}" type="password"/>}*
                    *{<input id="${field.id}" class="large" name="${field.name}" type="password" value="a"/>}*
                    *{#{ifError field.name}}*
                        *{<span class="help-inline">${field.error}</span>}*
                    *{#{/ifError}}*
                *{</div>}*
            *{</div>}*
        *{#{/field}}*

        *{#{field 'passwordConfirm'}#{/field}}*
        *{<div class="clearfix #{ifError field.name} error #{/ifError}">}*
            *{<label for="${field.id}">&{'securesocial.password2'}</label>}*

            *{<div class="input">}*
            *{//fixme descomentar e remover linha abaixo}*
            *{<input id="${field.id}" class="large" name="${field.name}" type="password"/>}*
                *{<input id="${field.id}" class="large" name="${field.name}" type="password" value="a"/>}*
                *{#{ifError field.name}}*
                    *{<span class="help-inline">${field.error}</span>}*
                *{#{/ifError}}*
            *{</div>}*
        *{</div>}*

        *{<div class="actions">}*
            *{<input type="submit" value="Create Account" class="btn primary">}*
            *{<a href="@{securesocial.SecureSocial.login()}" class="btn">&{'securesocial.cancel'}</input></a>}*
        *{</div>}*
    *{</fieldset>}*
*{#{/form}}*
*{</div>}*
*{</div>}*

*{#{mytags.discardFlash /}}*

